@font-face {
  font-family: "kot";
  src: url("./assets/font/KeeponTruckin.ttf");
}

@font-face {
  font-family: "digital";
  src: url("./assets/font/digital-7.ttf");
}

* {
  box-sizing: border-box;
  margin: 0px;
  font-family: "kot";
}

body {
  background-color: #2e86c1;
}

.centrar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  position: absolute;
}

.consola {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  background-color: black;
  box-shadow: inset 0px 0px 80px 30px #efefef40;
  position: relative;
  box-shadow: inset 0px 0px 10px 20px #ffffff30, 0px 0px 5px 5px #00000033;
}

.botones {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arriba {
  display: flex;
  justify-content: center;
}

.rojo {
  background-color: #89180c;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 200px 15px 15px 15px;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 10px #570f0750;
}

.verde {
  background-color: #2ecc71;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 15px 200px 15px 15px;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 10px #1b954e50;
}

.abajo {
  display: flex;
  justify-content: center;
}

.amarillo {
  background-color: #f7dc6f;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 15px 15px 15px 200px;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 10px #a6914050;
}

.azul {
  background-color: #2e86c1;
  border: none;
  width: 200px;
  height: 200px;
  border-radius: 15px 15px 200px 15px;
  margin: 10px;
  cursor: pointer;
  box-shadow: inset 0px 0px 0px 10px #1a5b8650;
}

.rojo,
.verde,
.amarillo,
.azul {
  transition: box-shadow 0.2s ease, filter 0.3s ease;
}

.active {
  filter: brightness(180%);
}

.rojo:active {
  box-shadow: inset 0px 0px 1px 15px #570f0750;
  filter: brightness(120%);
}

.verde:active {
  box-shadow: inset 0px 0px 1px 15px #1b954e50;
  filter: brightness(120%);
}

.amarillo:active {
  box-shadow: inset 0px 0px 1px 15px #a6914050;
  filter: brightness(120%);
}

.azul:active {
  box-shadow: inset 0px 0px 1px 15px #1a5b8650;
  filter: brightness(120%);
}

.botonera {
  background-color: rgb(0, 0, 0);
  width: 230px;
  height: 230px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: inset 0px 0px 10px 10px #ffffff30;
}

.botonera p {
  text-align: center;
  color: #efefef;
  padding-top: 50px;
  font-size: 40px;
  letter-spacing: 5px;
}

.startRound {
  display: flex;
  justify-content: space-evenly;
  margin-top: 40px;
}

.startButton {
  background-color: rgb(255, 234, 0);
  height: 30px;
  width: 50px;
  border-radius: 50px 50px 50px 50px;
  transition: 0.5s;
  border: none;
}

.startButton:disabled {
  background-color: #9a9999;
}

#round {
  margin-right: 10px;
  width: 25px;
  height: 32px;
  background-color: rgb(131, 191, 120);
  color: #000000;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0px 0px 0.5px 2px rgb(94, 139, 86);
}

#nroRound {
  font-family: "digital";
  font-size: 28px;
}

.winner {
  animation: spin 1s ease-in-out;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.none {
  visibility: hidden;
}

@media (max-width: 600px) {
  .consola {
    height: 380px;
    width: 370px;
    border-radius: 50%;
    background-color: black;
    box-shadow: inset 0px 0px 80px 30px #efefef40;
    position: relative;
    box-shadow: inset 0px 0px 5px 10px #ffffff30, 0px 0px 5px 5px #00000033;
  }

  .rojo {
    width: 150px;
    height: 150px;
  }

  .verde {
    width: 150px;
    height: 150px;
  }

  .amarillo {
    width: 150px;
    height: 150px;
  }

  .azul {
    width: 150px;
    height: 150px;
  }

  .botonera {
    width: 180px;
    height: 180px;
  }

  .botonera p {
    padding-top: 40px;
    font-size: 30px;
  }

  .startRound {
    margin-top: 20px;
  }

  #round {
    margin-right: 5px;
    width: 25px;
    height: 29px;
  }

  #nroRound {
    font-family: "digital";
    font-size: 25px;
  }
}
